{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "singleAttributePerLine": true
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
